@import '../_font.css';
@import '../_colors.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Text', sans-serif;
}

.row{
  display: flex;
  flex-direction: row;
}

.center{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon{
  width:15px;
  height:15px;
  padding: 0%;
  margin-left: 8px;
}