@import '../_font.css';
@import '../_colors.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Text', sans-serif;
}

.row{
  display: flex;
  flex-direction: row;
}

.center{
  display: flex;
  justify-content: center;
}

.center-items{
  align-items: center;
}


.center-text{
text-align: center;
}

.text-container {
  height:400px;
  width: 530px;
  margin:80px 40px 40px 80px;
}


.icon{
  width:15px;
  height:15px;
  padding: 0%;
  margin-left: 8px;
}

.m-top{
  margin-top: 50px;
}

.mt-0{
  margin-top: -10px;
}

.mt-1{
  margin-top: 10px;
}
.m-right{
  margin-right: 20px;
}


.img-above{
  margin-left: 50px;
  margin-top: -70px;
  margin-bottom: -70px;
}

.blue-background{
  height:400px;
  margin:150px 0px 150px 0px;
  background-color: var(--blue);
}

.w1{
  width: 300px;
}

.w2{
  width: 400px;
}

.h1{
  height: 200px;
}