.card-container{
    display: flex;
    flex-direction: row;
}

.card-content{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container{
    display: flex;
}

.image-container{
    display: flex;
    align-self: flex-end;
    width:30%
  }
  
  .title{
    font-size: 36px;
    font-weight: 700;
  }
  
  .card-left-container{
    margin-left: 150px;
  }
  
  .gray-text{
    color: var(--light-text);
    font-size: var(--primary-font);
    margin: 20px 0px;
    width: 80%;
  }