@import "../_colors.css";

.mainbar {
    background-color: var(--blue);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    top: 0;
  }
