@import '../_colors.css';

.navbar {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1400px;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 12px;
    list-style: none;
    text-align:center;
    width: 80vw;
    justify-content: end;
    margin-right: 12px;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: var(--light-text);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 40px 10px 20px 10px;
    height: 80%;
  }
  

  .nav-links:hover {
    border-bottom: 3px solid var(--blue);
    transition: all 0.2s ease-out;
  }

  