.title{
    font-size: 36px;
    font-weight: 700;
    margin: 0px 0px;
  }

.white-text{
  color: var(--primary);
}
  .gray-text{
    color: var(--light-text);
    font-size: var(--primary-font);
    margin: 20px 0px;
    word-spacing: 3px;
    line-height: 1.6;
  }

  .small-title{
    font-size: var(--primary-title);
    font-weight: 700;
    margin: 0px 0px;
  }